In [22]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler

from sklearn import metrics

datSet = pd.read_csv("bikes_rent.csv",sep=",",header=0)
datSet.shape
datSet.describe()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed(mph),windspeed(ms),cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,20.310776,23.717699,62.789406,12.762576,5.705220,4504.348837
std,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,7.505091,8.148059,14.242910,5.192357,2.321125,1937.211452
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.424346,3.953480,0.000000,1.500244,0.670650,22.000000
25%,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,13.820424,16.892125,52.000000,9.041650,4.041864,3152.000000
50%,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,20.431653,24.336650,62.666700,12.125325,5.420351,4548.000000
75%,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,26.872076,30.430100,73.020850,15.625371,6.984967,5956.000000
max,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,35.328347,42.044800,97.250000,34.000021,15.198937,8714.000000

In [23]:
x = datSet[['mnth', 'workingday','temp','hum','windspeed(mph)']].values
y = datSet['cnt'].values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42) 

min_max_scale=MinMaxScaler()

x_minMax=min_max_scale.fit_transform(x)
x_train_min_max, x_test_min_max, y_train_min_max, y_test_min_max = train_test_split(x_minMax, y, test_size=0.3, random_state=42)

regressor=LinearRegression()
regressor2=LinearRegression()

regressor.fit(x_train,y_train)
regressor2.fit(x_train_min_max,y_train_min_max)

y_pred=regressor.predict(x_test)
y_pred2=regressor.predict(x_train)

y_pred3=regressor2.predict(x_test_min_max)
y_pred4=regressor2.predict(x_train_min_max)

In [24]:
coff2= pd.DataFrame(regressor2.coef_,columns=['Coefficient'])
coff2

   Coefficient
0  1071.811730
1    86.100827
2  5000.826467
3 -3084.378222
4 -1873.727794

In [25]:
df=pd.DataFrame({"Фактический ": y_test.flatten(),"Прогнозируемый ": y_pred.flatten()})
df

     Фактический   Прогнозируемый
0            6606      4705.945587
1            1550      2469.783404
2            3747      3862.863610
3            6041      3718.340905
4            7538      5154.902786
..            ...              ...
215          2659      4132.344726
216          7338      5978.231635
217          6978      5303.259978
218          4795      5007.722031
219          3855      3948.210980

[220 rows x 2 columns]

In [26]:
df=pd.DataFrame({"Фактический": y_train.flatten(),"Прогнозируемый": y_pred2.flatten()})
df

     Фактический  Прогнозируемый
0           4905     6963.290097
1           5445     4088.971066
2           5698     4468.635275
3           5020     5364.796815
4           3624     3241.284376
..           ...             ...
506         2417     3454.664777
507         3744     4027.314683
508         3907     5139.214121
509         4911     3659.217715
510         2162     2965.435518

[511 rows x 2 columns]

In [27]:
print("Среднекватратичное отклонение тестовые ",metrics.mean_squared_error(y_test,y_pred))
print("Среднекватратичное отклонение тренировочное ",metrics.mean_squared_error(y_train,y_pred2))

print("Среднекватратичное отклонение тестового для максимизируемого ",metrics.mean_squared_error(y_test_min_max,y_pred3))
print("Среднекватратичное отклонение тренировочное для максимизируемого ",metrics.mean_squared_error(y_train_min_max,y_pred4))

Среднекватратичное отклонение тестовые  2005534.1992665469
Среднекватратичное отклонение тренировочное  1886691.3503920247
Среднекватратичное отклонение тестового для максимизируемого  2005534.1992665469
Среднекватратичное отклонение тренировочное для максимизируемого  1886691.3503920247